@charset "UTF-8";

.southMap {
	border: 1px solid blue;
	width: 100%;
}

.cityExplain {
	border: 1px solid red;
	width: 100%;
}

.innerAreaTab {
	border: 1px solid red;
	padding-top: 33px;
	padding-bottom: 27px;
}
.imgBtn{
	width: 231px;
	height:134px;
	padding:0px;   	
}
.plusRegion{
	padding:0px;
	margin:0;
}
 .plusDiv{
 
 }