@charset "UTF-8";

.southMap {
	border: 1px solid blue;
	width: 100%;
}

.cityExplain {
	/* 	border: 1px solid red; */
	width: 100%;
}

.innerAreaTab {
	/* 	border: 1px solid red; */
	padding-top: 33px;
	padding-bottom: 27px;
}

.imgBtn {
	width: 149px;
	height: 134px;
	padding: 0px;
}

.plusRegion {
	padding: 0px;
	margin: 0;
}

.plusDiv {
	
}

.listSortTab {
	margin-top: 10%;
}

.listSort {
	/* 	border: 1px solid red; */
	padding: 0;
	margin-top: 20px;
	width: 100%;
}

.listItem {
	margin-left: 0px;
	margin-right: 0px;
	height: 300px;
	/* 	border: 1px solid blue; */
	height: 300px
}

.imgDiv {
	padding: 0;
	margin-left: -15px;
	width: 100%;
}

.listItemImg {
	margin-left: -3px;
	margin-top: 10px;
	padding: 0;
	width: 238px;
	height: 200px;
	float: left;
	padding: 0;
	border-radius: 20px;
}

.expDiv {
	margin-top: 20px;
	font-weight: 700;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	border-radius: 5px;
}

.listItem:hover {
	background-color: #E6E7E9;
	border: 1px solid #cbcdd2;
}

.areaTitle{
	padding-left:10%;
	float:center;
	font-size: 14pt;
	background-color: #E6E7E9;
}


​