@charset "UTF-8";

.loginDiv {
	height: 350px;
	margin: 20%;
}

form[role=login] {
	color: #EDF1F1;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form[role=login] input, form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}

form[role=login]>div {
	text-align: center;
}

.kakaoBtn {
	margin-top: 10px;
}

.findInfo {
	clear: both;
	width: 100%;
	font-size: 13pt;
}

.snsLogin {
	float: left;
	margin: 0;
}

.snsLogin facebook {
	width: 80%;
}

.snsLogin kakaoBtn {
	width: 80%;
}


.findInfo a:link {
	color: red;
	text-decoration: none;
}

.findInfo a:visited {
	color: red;
	text-decoration: none;
}

.findInfo a:hover {
	color: red;
	text-decoration: none;
}