@charset "UTF-8";
 
.leftMenuSide {
	height: 1000px;
	border: 1px solid red;
}

.rightMenuSide {
	border: 1px solid red;
}

.leftMenu {
	width: 227px;
	margin-left: 28px;
}

.panelDiv {
	padding-left: 33px;
	display: none;
}

.trafficTicket {
	border: 1px solid red;
	padding: 15px;
	background: red;
	font-size: 15pt;
}

.panelDiv>ul {
	list-style: none;
}

.panelDiv>ul>li {
	height: 58px;
	background-color: blue;
	margin-left: -72px;
	padding-left: 13px;
	width: 226px;
	padding-top: 15px;
	font-size: 13pt;
}

.trafficTicketTitle {
	height: 95px;
	padding: 33px;
	background-color: blue;
	font-size: 15pt;
}

.marketItemImg {
	width: 238px;
	height: 168px;
}

.marketItem {
	border: 1px solid red;
	height: 300px;
	margin-top: 10px;
}

.marketItem>img {
	margin-left: 34px;
	margin-top: 24px;
}

.marketItemContent {
	market-top: 10px;
}

.marketItemContent .title {
	font-size: 10pt;
}

.marketItemImgDiv {
	padding-top: 20px;
}

.menuWrite {
/* 	background-color: blue; */
/* 	border: 1px solid blue; */
	height: 100%;
}

.btnMenuWrite {
	width: 100%;
}

.menuWriteTitle {
	padding: 10px;
	height: 57px;
}

.menuWriteFile {
	background-color: red;
	height: 40px;
}

i.fa-camera {
	margin: 10px;
	cursor: pointer;
	font-size: 30px;
}

i.fa-calculator {
	margin: 10px;
	cursor: pointer;
	font-size: 30px;
}

i.fa-car {
	margin: 10px;
	cursor: pointer;
	font-size: 30px;
}

i:hover {
	opacity: 0.6;
}

.filebox {
	float: left;
}

.menutitleType {
	float: left;
}

.menuWriteType {
	width: 139px;
	height: 34px;
}

.closeBtn {
	width: 60px;
	height: 34px;
	border: 0;
	border-radius: 8px;
}

.enrollMarketWrite {
	float: right;
	margin-top: 10px;
}

.enrollMarketWriteHref {
	line-height: 35px;
	border: 1px solid #ff8000;
	border-radius: 2px;
	font-size: 14px;
	padding: 15px 46px 16px 49px;
	background: url('/resources/image/common/icon/pencil.png') 15px center
		no-repeat #fff;
	background-size: 27px 23px;
}

.ticketType {
	height: 28px;
	margin-top: 1px;
}

.AddfileshowArea {
	font-size: 13pt;
}

.btnBox {
	padding-right: 60px;
	padding-top: 10px;
}

.textAreaDiv {
	min-height: 451px;
	overflow: visible;
	overflow-y: auto;
	width: 1000px;
 	border: 1 px solid;
	margin: 20px;
	line-height: 20px;
	float: left;
 }

.editImg {
	margin-bottom: 30px;
}

.deleteEditImg {
    position: relative;
    top: 98px;
    right: 16px;
    display: block;
    width: 63px;
    height: 20px;
    text-align: center;
}

.imgEditSection{
/* 	position:relative;display:inline-block;padding-top: 47px; */
    position: relative;
    display: inline-block;
    padding-top: 47px;
    border: 2px solid red;
    margin: 0px;
}
.imgEditSection .deleteEditImg{
    position: absolute;
    top: 28px;
    right: -17px;	
}