@charset "UTF-8";

.leftMenuSide {
	height: 1000px;
	border: 1px solid red;
}

.rightMenuSide {
	height: 1000px;
	border: 1px solid red;
}

.leftMenu {
	width: 227px;
	background-color: blue;
	height: 1000px;
	margin-left: 28px;
}