@charset "UTF-8";

.findId {
	border-right: 1px solid #e5e5e5;
	border-top: 8px solid #f67c7c;
	border-bottom: 2px solid #e5e5e5;
	height: 500px;
 	padding-top: 100px;
}

.findPass {
	border-right: 1px solid #e5e5e5;
	border-top: 8px solid #f67c7c;
	border-bottom: 2px solid #e5e5e5;
	height: 500px;
 	padding-top: 100px;
}

.findId table>tbody>tr>th {
	width: 40%;
	padding-top: 20px;
	text-align: center;
	float: left;
}

.findId table>tbody>tr>td {
	width: 60%;
	padding-top: 20px;
	text-align: center;
	float: left;
}

.findPass table>tbody>tr>th {
	width: 40%;
	padding-top: 20px;
	text-align: center;
	float: left;
}

.findPass table>tbody>tr>td {
	width: 60%;
	padding-top: 20px;
	text-align: center;
	float: left;
}

.form-control {
	width: 250px;
}

.findBtn {
	display: block;
	color: #fff;
	font-family: Malgun Gothic, "맑은 고딕";
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: -1px;
	background-color: #f67c7c;
	border: 0;
	width: 300px;
	height: 70px;
}

.findId form>h2 {
	margin-left: 32%;
}

.findPass form>h2 {
	margin-left: 30%;
}

.btnArea {
	margin-left: 33%;
}

.tabClass {
	padding: 0;
	padding-top: 80px;
}