@charset "UTF-8";

.memberJoin {
	border: 1px solid red;
	padding: 0;
}

.memberAgree {
	border: 1px solid red;
	padding: 0;
}

ul {
	list-style: none;
}

.signUpEle {
	margin: 3px;
	padding-left: 50px;
	padding-top: 20px;
}

.signUpEle label {
	width: 130px;
	border: 1px solid blue;
	text-align: center;
	height: 30px;
	padding-top: 4px;
	border-radius: 8px;
}

.form-control {
	margin-left: 40px;
}

.btnArea {
	border: 1px solid red;
	padding-top: 2%;
	padding-left: 30%;
	padding-bottom: 2%;
}

.btnBlue {
	display: inline-block;
	width: 127px;  
	height: 60px;
	background-color: #6695FF;
	text-align: center;
	text-decoration: none !important;
	color: white;
	border: 0;
}

.btnReset {
	width: 127px;
	height: 60px;
	text-align: center;
	text-decoration: none !important;
	border: 0;
}

h2 {
	font-size: 20pt;
	font-family: 'Nanum Gothic Coding', serif;
	text-align: center;
}

.explainTitle {
	padding-top: 316px;
}

.explainTitle2 {
	padding-top: 100px;
}

.explain {
	font-size: 20pt;
	font-family: 'Nanum Gothic Coding', serif;
	text-align: center;
}

.important {
	color: red;
	font-weight: bold;
}

	
.signUpEle button{
	margin-left: 10px;
}



.chkBlue{
	display: inline-block;
    width: 136px;
    height: 39px;
    color:white;
    border:0;
    background-color: #6695FF;
    text-align: center;
    text-decoration: none !important;
}
.termArea a{
	margin-left:30px;
}

.termArea a:link {
	color: black;
	text-decoration: none;
	font-family: 'Nanum Gothic Coding', serif;
}

.termArea a:visited {
	color: black;
	text-decoration: none;
	font-family: 'Nanum Gothic Coding', serif;
}

.termArea a:hover {
	color: black;
	text-decoration: none;
	font-family: 'Nanum Gothic Coding', serif;
}



.terms {
	
}