@charset "UTF-8";

.southMap {
	border: 1px solid blue;
	width: 100%;
}

.cityExplain {
	/* 	border: 1px solid red; */
	width: 100%;
}

.innerAreaTab {
	/* 	border: 1px solid red; */
	padding-top: 33px;
	padding-bottom: 27px;
}

.imgBtn {
	width: 149px;
	height: 134px;
	padding: 0px;
}

.plusRegion {
	padding: 0px;
	margin: 0;
}

.plusDiv {
	
}

.listSortTab {
	margin-top: 10%;
}

.listSort {
	/* 	border: 1px solid red; */
	padding: 0;
	margin-top: 20px;
	width: 100%;
}

.listItem {
	margin-left: 0px;
	margin-right: 0px;
	height: 300px;
	/* 	border: 1px solid blue; */
	height: 300px
}

.imgDiv {
	padding: 0;
	margin-left: -15px;
	width: 100%;
}

.listItemImg {
	margin-left: -3px;
	margin-top: 10px;
	padding: 0;
	width: 238px;
	height: 200px;
	float: left;
	padding: 0;
	border-radius: 20px;
}

.expDiv {
	margin-top: 20px;
	font-weight: 700;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	border-radius: 5px;
}

.listItem:hover {
	background-color: #E6E7E9;
	border: 1px solid #cbcdd2;
}

.areaTitle {
	padding-left: 10%;
	float: center;
	font-size: 14pt;
	background-color: #E6E7E9;
}

.pop-layer .pop-container {
	padding: 20px 25px;
}

.pop-layer p.ctxt {
	color: #666;
	line-height: 25px;
}

.pop-layer .btn-r {
	width: 100%;
	margin: 10px 0 20px;
	padding-top: 10px;
	border-top: 1px solid #DDD;
	text-align: right;
}

.topArea {
	border: 1px solid red;
}

.containerImg {
	border: 1px solid red;
	/* 	height: 400px; */
}

.containerMap {
	border: 1px solid red;
	/* 	height: 400px; */
}

.innerTravelExpl {
	border: 1px solid red;
	/* 	height: 400px; */
}

.innerTravelSNS {
	border: 1px solid red;
	/* 	height: 400px; */
}

.bximage {
	
}

.containerInfo {
	border: 1px solid red;
	font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo",
		Helvetica, Arial, "Apple Gothic", 돋움, Dotum, sans-serif;
}

.innerTravelcourseInfo {
	border: 1px solid red;
	height: 331px;
}

.titleImage {
	width: 706px;;
	height: 399px;
	margin-left: -17px;
}

.travInfo {
	border: 1px solid red;
}

.travOverview {
	border: 1px solid red;
}

.leftDiv {
	border: 1px solid red;
}

.rightDiv {
	border: 1px solid blue;
}

.subname {
	line-height: 1.4;
	font-size: 20px;
	color: #333;
	font-weight: 600;
}

.subdetailoverview {
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 12px;
	font-weight: 400;
	color: #666;
 
}

.courseWriteEach {
	padding: 0px;
}

.innerTravelcourseWrite {
	padding: 0px;
	margin: 0px;
}

.courseWriteEach {
	border: 1px solid blue;
}

.innerTravelSNS {
	border: 1px solid blue;
}

.innerTravelSNS h3 {
	font-size: 13pt;
}

.innerTravelSNS span {
	font-size: 13pt;
	font-weight: 600;
	font-size: 15pt;
}

.qnaCommunity {
	margin-left: -13px;
	padding: 0;
}

.qnaCommunityTextButton>button>span {
	color: white;
	width: 100px;
	height: 35px;
	font-weight: 100;
}

.qnaCommunityTextButton>button {
	background-color: #00a680;
	border: 0px;
	padding-top: 7px;
	margin-top: 8px;
	margin-left: 89%;
}