@charset "UTF-8";

.southMap {
	border: 1px solid blue;
	width: 100%;
}

.cityExplain {
	width: 100%;
}

.innerAreaTab {
	margin-left: 28px;
	padding-top: 33px;
	padding-bottom: 27px;
}

.imgBtn {
	width: 190px;
	height: 134px;
	padding: 0px;
}

.plusRegion {
	padding: 0px;
	margin: 0;
}

.plusDiv {
	
}

.listSortTab {
	margin-top: 10%;
}

.listSort {
	/* 	border: 1px solid red; */
	padding: 0;
	margin-top: 20px;
	width: 100%;
}

.listItem {
	margi: 0;
	height: 300px;
}

.imgDiv {
	padding-left: 13px;
	width: 100%;
}

.listItemImg {
	margin-top: 10px;
	padding: 0;
	width: 238px;
	height: 200px;
	float: left;
	padding: 0;
	border-radius: 20px;
}

.expDiv {
	margin-top: 20px;
	font-weight: 700;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	border-radius: 5px;
	padding-left: 10px;
}

.listItem:hover {
	background-color: #E6E7E9;
	border: 1px solid #cbcdd2;
}

.areaTitle {
	float: center;
	font-size: 14pt;
	background-color: #E6E7E9;
	padding-left: 53px;
}

.pop-layer .pop-container {
	padding: 20px 25px;
}

.pop-layer p.ctxt {
	color: #666;
	line-height: 25px;
}

.pop-layer .btn-r {
	width: 100%;
	margin: 10px 0 20px;
	padding-top: 10px;
	border-top: 1px solid #DDD;
	text-align: right;
}

.topArea {
	border: 1px solid red;
}

.containerImg {
	border: 1px solid red;
	/* 	height: 400px; */
}

.containerMap {
	border: 1px solid red;
	/* 	height: 400px; */
}

.innerTravelExpl {
	border: 1px solid red;
	/* 	height: 400px; */
}

.innerTravelSNS {
	border: 1px solid red;
	/* 	height: 400px; */
}

.bximage {
	width: 786px;
}

.containerInfo {
	border: 1px solid red;
	font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo",
		Helvetica, Arial, "Apple Gothic", 돋움, Dotum, sans-serif;
}

.innerTravelcourseInfo {
	border: 1px solid red;
	/* 	height: 331px; */
}

.titleImage {
	width: 706px;;
	height: 399px;
}

.travInfo {
	border: 1px solid red;
}

.travOverview {
	padding: 10px;
	border: 1px solid red;
}

.leftDiv {
	border: 1px solid red;
}

.rightDiv {
	border: 1px solid blue;
}

.courseWriteEach {
	padding: 0px;
}

.innerTravelcourseWrite {
	padding: 0px;
	margin: 0px;
}

.courseWriteEach {
	border: 1px solid blue;
}

.innerTravelSNS {
	border: 1px solid blue;
}

.innerTravelSNS h3 {
	font-size: 13pt;
}

.innerTravelSNS span {
	font-size: 13pt;
	font-weight: 600;
	font-size: 15pt;
}

.qnaCommunity {
	padding: 0;
}

.qnaCommunityTextButton {
	padding-left: 53px;
}

.qnaCommunityTextButton>button>span {
	color: white;
	width: 68px;
	height: 43px;
	font-weight: 100;
	padding-top: 8px;
}

.qnaCommunityTextButton>button {
	background-color: #00a680;
	border: 0px;
	height: 2opx;
	border-radius: 10px;
}

.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}

.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}

.table-filter tbody tr.selected td {
	background-color: #eee;
}

.table-filter tr td:first-child {
	width: 38px;
}

.table-filter tr td:nth-child(2) {
	width: 35px;
}

.table-filter .star.star-checked {
	color: #F0AD4E;
}

.table-filter .star:hover {
	color: #ccc;
}

.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}

.table-filter .media-photo {
	width: 35px;
}

.table-filter .media-body {
	display: block;
	width: 92%;
}

.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}

.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}

.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}

.table-filter .media .title span.pagado {
	color: #5cb85c;
}

.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}

.table-filter .media .title span.cancelado {
	color: #d9534f;
}

.table-filter .media .summary {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 400px;
	white-space: nowrap;
}

.moreSeeBtn {
	width: 639px;
}

.qnaCommunityIcon {
	border: 1px solid red;
	height: 84px;
	padding-top: 20px;
	padding-left: 9px;
}

.travInfo .title {
	color: #999;
	font-weight: bold;
}

.travInfo .content {
	color: #666;
	font-size: 14px;
	border: none;
	background: 0 0;
	border-radius: 0;
}

.traveliInfoSection {
	
}

.traveliInfoSection .title {
	color: red;
}

.traveliInfoSection .content {
	color: #999;
	margin-bottom: 20px;
}

.qnaCommunityInsert {
	border: 1px solid red;
}

.travOverviewSection .title {
	color: red;
}

.foodMenuMain {
	width: 100%;
	height: 400px;
}

.foodMenuMainsub {
	padding: 0;
	width: 100%;
	height: 100px;
}

.menuOriginImg {
	margin: 0;
	padding: 0;
}

.menuSmallImg {
	margin: 0;
	padding: 0;
}

.innerTravelfirstimageInfo {
	padding: 40px;
}

.courseWriteEach {
	padding-top: 20px;
}

.courseWriteEach .subname {
	line-height: 1.4;
	font-size: 20px;
	color: #333;
	font-weight: 600;
}

.courseWriteEach .subdetailoverview {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #666;
}

.layoutForm{
	height: 100px;
}
.deleteTitle{
 	width: 100%;
    font-size: 14pt;
    color: red;
    height: 40px;
}

