<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Gajago.com.mapper.InnerTravel">
	<insert id= "insertQnaComVo"  parameterType="com.Gajago.com.vo.innerQnAcomunityVo">
  	
  	  insert into innerTravelQnaBoard 
  	  			(innerTravelQnaWriter,
  	  			 innerTravelQnaContent,
  	  			 innerTravelQnaContentId,
  	  			 innerTravelQnaprofilePic,
  	  			 innerTravelQnaWriteTime)
  	  values(#{innerTravelQnaWriter},#{innerTravelQnaContent},#{innerTravelQnaContentId},#{innerTravelQnaprofilePic},sysdate())
   	</insert>
  
  
  <select id="selectQnaComVoList" parameterType="com.Gajago.com.vo.innerQnAcomunityVo" resultType="com.Gajago.com.vo.innerQnAcomunityVo">
  	select
  		 innerTravelQnaIdx, 
     	 innerTravelQnaWriter,
		 innerTravelQnaContent,
		 innerTravelQnaContentId,
		 innerTravelQnaprofilePic,
		 innerTravelQnaWriteTime					
  	from 
 		innerTravelQnaBoard
  	where 1=1 
 	and innerTravelQnaContentId = #{innerTravelQnaContentId}
    order by innerTravelQnaIdx desc
    
  </select>
  
  
  
  <delete id="deleteTwit" parameterType="com.Gajago.com.vo.innerQnAcomunityVo">
  	delete
  	  from
  	  innerTravelQnaBoard
  	  
  	 where 1=1 
	  	and innerTravelQnaIdx = #{innerTravelQnaIdx}
	  	and innerTravelQnaContentId = #{innerTravelQnaContentId}
   </delete>
  
</mapper>

 