<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Gajago.com.mapper.LoginMapper">
	 

	<select id="loginChk" resultType="com.Gajago.com.vo.MemberVo" parameterType="com.Gajago.com.vo.MemberVo">
		select 
			    id,
				password,
				snsId,
				name,
				nickname,
				phone,
				email,
				gender,
				profilePic,
				snsType,
				initYn
		from
			member
		where  1=1
		   <choose>
			   	<when test="snsId==null or snsId=='' ">
					and id = #{id}
					and password  = #{password}	
			   	</when>
				<otherwise>
					and snsId = #{snsId}
				</otherwise>
		   </choose>
	</select>


	
  	<insert id= "insertSns"  parameterType="com.Gajago.com.vo.MemberVo">
  	
  	  insert into member (id,snsId,profilePic,snsType,signUpTime)
  	  values('1SNS',#{snsId},#{profilePic},#{snsType},sysdate())
  	
  	</insert>
  
  
  
  	<update id="updaetSnsInfo" parameterType="com.Gajago.com.vo.MemberVo">
  			update
  				member 
  				set
	  			nickname = #{nickname},
	  			profilePic = #{profilePic}
	 		where  1=1 
  			and snsId  = #{snsId}
  	
  	</update>
  	
  	<select id="compId" resultType="com.Gajago.com.vo.MemberVo" parameterType="com.Gajago.com.vo.MemberVo">
  		select 
	  			id,
				password,
				snsId,
				name,
				nickname,
				phone,
				email,
				gender,
				profilePic,
				snsType,
				initYn
  		from 
  				member
  		where 
  		 	1=1	
  		     <choose>
			   	<when test="snsId == null or snsId == '' ">
					and id = #{id}
 			   	</when>
				<otherwise>
					and snsId = #{snsId}
				</otherwise>
		   </choose>
  
  	</select>
  
  
</mapper>

 