<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Gajago.com.mapper.MarketMapper">



  <select id="marketItemList"  resultType="com.Gajago.com.vo.itemMarketBoardVo">
  	select 
  		* 
  	from 
  	marketitemboard
    
  </select>
  
  <select id="selectCount" resultType="int">
  	select 
  		count(*) 
  	from 
  	marketitemboard
  </select>
   
   
   <select id="insertData" statementType="CALLABLE"  parameterType="com.Gajago.com.vo.itemMarketBoardVo">
  		 call insertItemBoardProcedure(
  		 			     #{marketMethodType,mode=IN,jdbcType=VARCHAR},
						 #{marketItemTicketType,mode=IN,jdbcType=VARCHAR},
						 #{marketItemTitle,mode=IN,jdbcType=VARCHAR},
						 #{oTripStartDay,mode=IN,jdbcType=VARCHAR},
						 #{rTripStartDay,mode=IN,jdbcType=VARCHAR},
						 #{rTripEndDay,mode=IN,jdbcType=VARCHAR},
						 #{marketItemContent,mode=IN,jdbcType=VARCHAR},
						 #{marketWriter,mode=IN,jdbcType=VARCHAR},
   						 #{marketThumNail,mode=IN,jdbcType=VARCHAR},
						 #{maxIdx,mode=OUT,jdbcType=VARCHAR }
	    	 )
   </select>
   
   
   <select id="insertUploadFile"  statementType="CALLABLE"  parameterType="hashMap" resultType="hashMap"> 
 		 call uploadProcedure(#{uploadFile,jdbcType=VARCHAR},#{uploadId,jdbcType=VARCHAR} )
   </select>

	<update id="updateFileList" parameterType="hashMap">
		update tempfileboard
			set uploadBoardIdx= #{maxNumber} 
		where 
		uploadFileIdx  In 
		<foreach item="fileList" index="index" collection="fileList" open="(" separator="," close=")">
		#{fileList}
	</foreach>
		
		
	</update>

</mapper>

 