@charset "UTF-8";

/* @import */
/* 	url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css); */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

body {
	background-color: #FFFFFF;
}

.divlogo {
	float: left;
}

.logoPng {
	padding: 0;
	width: 232px;
	height: 59px;
}

.topHeader a:link {
	font-weight: 100;
	line-height: 1.6em;
	color: white;
	text-decoration: none;
	font-size: 14pt;
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.topHeader a:visited {
	font-weight: 800;
	line-height: 1.6em;
	color: white;
	text-decoration: none;
	font-size: 14pt;
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.topHeader a:hover {
	font-weight: 800;
	line-height: 1.6em;
	color: white;
	text-decoration: none;
	font-size: 14pt;
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
	color: #828282;
}

.topHeader dd {
	margin: 0;
	display: inline;
	float: right;
	margin-right: 50px;
	line-height: 28px;
}

.secondHeader {
	width: 100%;
	height: 148px;
 	color: #828282;
/* 	background-color: #E0EB69; */
	background-color: 00A680;
	
/* 	00A680 */
}

.secondHeader>img {
	margin-top: 8px;
	margin-left: 38%;
	width: 300px;
	height: 80px;
}

.headermenu {
	width: 100%;
	height: 40px;
	border: 1px solid red;
}

.containerBody {
	padding: 0;
	border: 1px solid red;
/* 	height: 1000px; */
}

.footerNavi {
	height: 80px;
	line-height: 75px;
	font-family: "Adelle SansW01-Regular", Helvetica, sans-serif;
	font-weight: 400;
	background-color: #333333;
}

.footerNavi ul {
	padding-left: 304px;
	list-style-type: none;
}

.footerNavi ul>li {
	display: inline;
	border-right: 1px solid #666;
	color: white;
	padding: 10px;
}

.footerNavi ul>li>a {
	color: #828282;
	text-decoration: none;
}

.footerComp {
	background-color: #333333;
	height: 60px;
	padding-left: 40%;
	padding-top: 15px;
	color: #828282;
}

a {
	text-decoration: none
}

.search {
	width: 100%;
	position: relative
}

.searchTerm {
	float: left;
	width: 100%;
	border: 3px solid #00B4CC;
	padding: 5px;
	height: 49px;
	border-radius: 5px;
	outline: none;
	color: #9DBFAF;
}

.searchTerm:focus {
	color: #00B4CC;
}

.searchButton {
	position: absolute;
	right: -15px;
	width: 44px;
	height: 49px;
	border: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}

.searchZone {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}

.menuSpan {
	font-size: 11pt;
}

.topHeader {
	height: 60px;
	background-color: #E0EB69;
}

.topMenu {
	height: 60px;
	float: right;
	padding-left: 55%;
	padding-top: 6px;
	margin: 0;
}

.loginBtn {
	background-color: white;
	width: 100px;
	height: 45px;
	border-radius: 10px;
	color: #00A680;
	border: 0;
}
.loginBtn:hover{
	font-weight: 500;
}

.topLogo {
 	height: 60px;
}